$border-color: hsla(0, 0%, 0%, 0.1);

.row {
  display: flex;
  gap: 8px;

  > :first-child {
    flex-basis: 150px;
  }

  > :last-child {
    flex: 1;
    min-width: 200px;
  }
}

.messageWrapper {
  > :first-child {
    text-align: right;
  }

  > :last-child {
    resize: vertical;
  }
}

.fieldsetWrapper {
  padding: 20px 0;
  border: none;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;

  legend {
    float: left;
    text-align: right;
  }
}

.variantOptionsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.variantInputWrapper {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.popToastBtn {
  padding: 6px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    hsl(274, 50%, 47%),
    hsl(255, 50%, 28%)
  );
  cursor: pointer;

  &:focus {
    outline: 2px solid hsl(0, 0%, 0%);
  }

  &:hover {
    opacity: 0.9;
  }
}
