$border-color: hsla(0, 0%, 0%, 0.1);

.messageWrapper {
  display: flex;
  gap: 8px;

  :first-child {
    flex-basis: 150px;
    text-align: right;
  }

  :last-child {
    flex: 1;
    resize: vertical;
  }
}

.fieldsetWrapper {
  display: flex;
  padding: 20px 0;
  border: none;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  gap: 8px;

  legend {
    float: left;
    flex-basis: 150px;
    text-align: right;
  }
}

.variantOptionsWrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.variantInputWrapper {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 8px;
}
