.toastsWrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.slideIn {
  animation: toast 800ms cubic-bezier(0, 0.46, 0, 0.92) both;
  will-change: transform;
}

@keyframes toast {
  from {
    transform: translateX(100%);
  }
}
