.toast {
  background-color: white;
  max-width: 100%;
  width: 300px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.iconWrapper,
.iconBtn {
  flex-shrink: 0;
}

.message {
  flex: 1;
}
