@import "/src/variables.scss";

.toast {
  max-width: 100%;
  width: 300px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.iconWrapper {
  flex-shrink: 0;
}

.message {
  flex: 1;
  font-weight: bold;
}

.iconBtn {
  flex-shrink: 0;
  padding: 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.notice {
  background-color: $color-notice-bg;

  .iconWrapper {
    color: $color-notice;
  }
}

.warning {
  background-color: $color-warning-bg;

  .iconWrapper {
    color: $color-warning;
  }
}

.success {
  background-color: $color-success-bg;

  .iconWrapper {
    color: $color-success;
  }
}

.error {
  background-color: $color-error-bg;

  .iconWrapper {
    color: $color-error;
  }
}
